<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <meta charset="utf-8">
    <title>gameTrade</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" media="screen" title="no title" charset="utf-8">
    <link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}">
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <nav class="navbar navbar-inverse">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/"><img id="logo-img" src="{% static 'images/LogoSmall.png' %}" alt="" /></a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                        <li class="{% if request.get_full_path == '/' %}active{% endif %}"><a href="/">Home</a></li>
                        <li class="dropdown {% if '/games_by_console' in request.get_full_path %}active{% endif %}">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Consoles
                                <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    {% for console in consoles %}
                                    <li><a href="/games_by_console/{{ console.id }}">{{console.name}}</a></li>
                                    {% endfor %}
                                </ul>
                            </li>
                            <li class="{% if request.get_full_path == '/about/' %}active{% endif %}" ><a href="{% url 'gt-about' %}">Sobre</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <form action="{% url 'gt-search' %}" class="navbar-form">
                                    <div class="form-group">
                                        <div class="radio navbar-text">
                                            <input type="radio" id="rd-user" name="search" value="user"><span id="rd-user-label" class="unselected-radio"> Usuário</span>
                                        </div>
                                        <div class="radio navbar-text">
                                            <input type="radio" id="rd-game" name="search" value="game" checked><span id="rd-game-label" class="selected-radio"> Jogo</span>
                                        </div>
                                        <input name='search-value' type="text" class="form-control" placeholder="Pesquisa">
                                    </div>
                                </form>
                            </li>
                            {% if user.is_authenticated %}
                            <li class="{% if request.get_full_path == '/my_account/' %}active{% endif %}"><a href="{% url 'gt-my-account' %}"><span class="glyphicon glyphicon-user"></span> Minha Conta</a></li>
                            <li class="{% if request.get_full_path == '/logout/' %}active{% endif %}"><a href="{% url 'gt-logout' %}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                            {% else %}
                            <li class="{% if request.get_full_path == '/register/' %}active{% endif %}"><a href="{% url 'gt-register' %}"><span class="glyphicon glyphicon-user"></span> Cadastro</a></li>
                            <li class="{% if '/login/' in request.get_full_path %}active{% endif %}"><a href="{% url 'gt-login' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </nav>
            </div>

            <div class="row">
                {% block content %}
                {% endblock %}
            </div>

            <div class="row">
                <footer class="container-fluid text-center">
                    <p>Desenvolvido por Coding Wolves</p>
                    <p>Projeto no GitHub <a href="https://github.com/alan-ra/gameTrade" target="_blank"><img src="{% static 'images/github.png' %}"/></a></p>
                </footer>
            </div>
        </div>

        <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.2.min.js" ></script>
        <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
    </body>
    </html>
