<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
  <meta charset="utf-8">
  <title>gameTrade</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" media="screen" title="no title" charset="utf-8">
  <link rel="stylesheet" href="{% static 'css/style.css' %}" media="screen" title="no title" charset="utf-8">
  <link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}">
</head>
<body>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><img id="logo-img" src="{% static 'images/LogoSmall.png' %}" alt="" /></a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li class="active"><a href="/">Home</a></li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Consoles
            <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">3ds</a></li>
              <li><a href="#">Playstation 4</a></li>
              <li><a href="#">Xbox One</a></li>
            </ul>
          </li>
          <li><a href="#">Sobre</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <form class="navbar-form">
              <div class="form-group">
                <div class="radio navbar-text">
                      <input type="radio" id="rd-usuario" name="pesquisa" value="usuario" checked><span id="rd-usuario-label" class="selected-radio "> Usuário</span>
                </div>
                <div class="radio navbar-text">
                      <input type="radio" id="rd-jogo" name="pesquisa" value="jogo"><span id="rd-jogo-label" class="unselected-radio"> Jogo</span>
                </div>
                <input type="text" class="form-control" placeholder="Pesquisa">
              </div>
            </form>
          </li>
          <li><a href="#"><span class="glyphicon glyphicon-user"></span> Cadastro</a></li>
          <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
      </div>
    </div>
  </nav>


  {% block content %}
  {% endblock %}

  <footer class="container-fluid text-center">
    <p>Desenvolvido por Coding Wolves</p>
    <p>Projeto no GitHub <a href="https://github.com/alan-ra/gameTrade" target="_blank"><img src="{% static 'images/github.png' %}"/></a></p>
  </footer>

  <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.2.min.js" ></script>
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
</body>
</html>
