
{% extends 'gt/base.html' %}
{% load staticfiles %}
{% block content %}
<div id="features" class="col-sm-2 sidenav">
    <h3 class="text-center">Features</h3>
    <div class="well well-sm text-left">
        <p><span class="glyphicon glyphicon-chevron-right"></span> O jogo que você já jogou ou enjoou pode proporcionar muita diversão à outra pessoa</p>
        <p><span class="glyphicon glyphicon-chevron-right"></span> Receba outro jogo em troca e economize o dinheiro que seria gasto na compra de jogos novos que estão cada vez mais caros</p>
        <p><span class="glyphicon glyphicon-chevron-right"></span> Caso você queira se desfazer de um jogo, você pode doá-lo para um usuário de sua escolha</p>
        <p><span class="glyphicon glyphicon-chevron-right"></span> Avalie usuários em resposta a uma troca realizada</p>
        <p><span class="glyphicon glyphicon-chevron-right"></span> Avalie jogos que já jogou com uma nota</p>
        <p><span class="glyphicon glyphicon-chevron-right"></span> Registre os jogos que possui e os que deseja</p>
        <p><span class="glyphicon glyphicon-chevron-right"></span> Comunique-se com outros usuários em suas páginas para negociar uma troca</p>
    </div>
</div>
<div class="col-sm-8">
    <h2 class="text-center">Login</h2>
    {% if form.errors %}
    {{ form.non_field_errors }}
    {% endif %}
    <div id="login-box" class="well well-lg col-sm-4 col-sm-offset-4">
        <form id="login" class="form-horizontal" role="form" action="." method="post">
            {% csrf_token %}
            <div class="form-group">
                <label class="control-label login-label" for="id_username">Usuário</label>
                <input type="text" class="form-control" id="id_username" name="username" placeholder="Usuário">
            </div>
            <div class="form-group">
                <label class="control-label login-label" for="id_password">Senha</label>
                <input type="password" class="form-control" id="id_password" name="password" placeholder="Senha">
                <a class="login-link" data-toggle="modal" data-target="#modal-lost-account">Esqueci minha senha</a>
            </div>
            <div class="form-group">
                <button id="btn-login" type="submit" class="btn btn-default">Entrar</button>
            </div>
        </form>
    </div>
    <div id="modal-lost-account" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <div class="lead modal-title">Recuperar Senha</div>
                </div>
                <div class="modal-body">
                    <p>
                        Enviar senha por e-mail
                    </p>
                    <form class="form" role="form" action="." method="get">
                        <div class="form-group">
                            <label class="control-label" for="modal_username">Usuário</label>
                            <input type="text" class="form-control" id="modal_username" name="modal_username" placeholder="Usuário">
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="modal_email">E-mail</label>
                            <input type="email" class="form-control" id="modal_email" name="modal_email" placeholder="E-mail">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button id="btn-lost-account" type="button" class="btn btn-default" data-dismiss="modal">Enviar</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>
    <form id="form-lost-account" class="" action="/lost_account/" method="post">
    {% csrf_token %}
        <input type="hidden" name="user" value="">
        <input type="hidden" name="email" value="">
    </form>
</div>
<div id="ad" class="col-sm-2 sidenav">
    <h3 class="text-center">Publicidade</h3>
    <div class="well well-sm">
        <img class="ad-img" src="{% static 'images/PacMan.gif' %}" alt="" />
    </div>
    <div class="well well-sm">
        <img class="ad-img" src="{% static 'images/FlappyBird.gif' %}" alt="" />
    </div>
</div>
{% endblock content %}
